body {
    display: grid; /* Set to organize the sidebar, header, and main content */
    height: 100vh;
    margin: 0;
    grid-template-columns: auto 1fr; /* Found out that I can use this to make the grid-template-area more fitting (less extra space), delete this line to see */
    grid-template-rows: auto 1fr; /* Same as the above */
    grid-template-areas: 
        "sidebar header header header header header"
        "sidebar main-content main-content main-content main-content main-content";
}

.sidebar {
    grid-area: sidebar;
    display: flex; /* Flex so I can organize the sidebar tabs */
    flex-direction: column;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 183, 255);
}
.dashboard {
    display: flex;
    margin: 10px 75px 0 10px; /* Margin right is set to 75px so it expands a little bit (grid-template-column set to auto) */
    align-items: center;
    padding-bottom: 20px;
}

.dashboard img {
    height: 50px;
    filter: invert(1); /* Original icon colors are black, but this sets it to white */
}

.dashboard span {
    font-size: 34px;
    padding-left: 10px;
}

.tabs-container div {
    display: flex;
    align-items: center;
    grid-gap: 5px; /* Adds a gap between the tab logo and name */
}

.tabs-container img {
    height: 40px;
    padding: 0 15px 0 15px;
    filter: invert(1);
}

.communities {
    margin-bottom: 50px;
}

.header {
    grid-area: header;
    font-weight: bold;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    /* horizontal offset, vertical offset, blur radius, spread (negative reduces size) */
}

.first-row {
    display: flex;
    padding: 20px 0 0 50px;
    font-size: 20px;
    align-items: center;
}

.first-row-one {
    display: flex;
    align-items: center;
    margin-right: 34%;
}

.first-row-two {
    display: flex;
    align-items: center;
}

.first-row img{
    height: 40px;
}

#search-logo {
    margin-right: 20px;
}

#profile-picture {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 0 30px;
}

#search {
    width: 600px;
    background-color: rgba(226 232 240);
    border: none;
    line-height: 1.75;
    height: 10%;
    border-radius: 30px; /* Pixels make the edge more rounder, % will make it relative to width causing an elliptical shape */
}

.second-row {
    padding: 5px 0 0 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 80px;
    margin-bottom: 10px;
}

.second-row-one {
    display: flex;
    margin-right: 40%;
    align-items: center;
}

.second-row-two {
    display: flex;
    align-items: center;
  }
  

.second-row-one h2 {
    margin: 5px 0 0 0;
    white-space: nowrap; /* Prevents the heading from wrapping and overlapping other components */
}

.second-row-one img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 25px;
}

.second-row-two button {
    border-radius: 25px;
    font-size: 20px;
    background-color: rgb(0, 183, 255);
    color: white;
    font-weight: bold;
    margin: 15px;
    line-height: 2;
    width: 125px;
    border: none;
    cursor: pointer;
}

.main-content {
    grid-area: main-content;
    display: grid;
    background-color: rgba(226, 232, 240);
    grid-template-columns: auto 350px; /* Adjust column widths as needed */
    grid-template-rows: 475px auto; /* No idea why the trending div gets misplaced but this seems to work. I'll figure it out when I get better */
    grid-template-areas: 
        "projects-container announcements"
        "projects-container trending"; /* Arrange areas accordingly */
}

.projects h3 {
    margin: 20px 0 0 50px;
}

.projects-container {
    display: grid; /* Set to organize the projects */
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 0 20px;
}

.projects-container img {
    width: 30px;
    float: right;
    margin: 0 20px 20px 0;
}

[class^="project-"] {
    background-color: white;
    border-left: #facc14 10px solid;
    border-radius: 25px;
    margin: 20px;
    padding: 0 30px;
}

.announcements {
    grid-area: announcements;
    word-wrap: break-word;
    margin-right: 50px;
}

.announcements-container {
    background-color: white;
    border-radius: 25px;
    padding: 1px 20px 5px 20px;
}

.trending {
    grid-area: trending;
    font-size: 20px;
    flex-direction: column;
    padding: 10px;
    margin-right: 50px;
}

.trending-card {
    background-color: white;
    border-radius: 25px;
}

.trending img {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin: 0 10px;
}

[class$="-at"] {
    display: flex;
    align-items: center;
}
